* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #9de7f4;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.container .playerTurn {
    font-size: 30px;
    font-weight: bolder;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    box-shadow: 22px 22px 20px 1px black;
    background: #2be272;
}
.cell {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
}

.form {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);
    flex-direction: column;
    gap: 100px;
    color: #01542d;
}
form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    background-color: #002d8238;
    padding: 100px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
form div {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
    gap: 10px;
}
form input {
    padding: 10px 0px;
    font-weight: bolder;
    font-size: 20px;
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid black;
}
form div:last-child {
    width: 100%;
}
form button {
    padding: 10px;
    font-size: 20px;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: #01bfae;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: lightseagreen;
}
.hidden {
    display: none;
}
